<h3>Welcome to MyGolf!</h3>
<p>
	This site is intended as a tool to help you track your golf game and hopefully provide a quick and easy reference for things such as
	your personal handicap and nearby courses.
</p>